.theme-light .page {
	--accent-color: #353430;
	--focus-text-color: #ffc2e6;
	--focus-shadow-color: #ff8dcb;
	--title-text-color: #353430;
	--background-subtitle-color: #ff8dcb;
	--subtitle-text-color: #353430;
	--text-color: #353430;
	--text-link-color: #353430;
	--main-page-background-color: #fff1f7;

	--button-border-color: #353430;
	--button-hover-color: rgba(50, 49, 45, 0.4);

	--outline-link-color: #353430;
	--border-link-color: #353430;

	--background-image: url('../images/cover-image-light.png');

	--rec-decor-visibility: none;
}

@media (prefers-color-scheme: light) {
	:root {
		--accent-color: #353430;
		--focus-text-color: #ffc2e6;
		--focus-shadow-color: #ff8dcb;
		--title-text-color: #353430;
		--background-subtitle-color: #ff8dcb;
		--subtitle-text-color: #353430;
		--text-color: #353430;
		--text-link-color: #353430;
		--main-page-background-color: #fff1f7;

		--button-border-color: #353430;
		--button-hover-color: rgba(50, 49, 45, 0.4);

		--outline-link-color: #353430;
		--border-link-color: #353430;

		--background-image: url('../images/cover-image-light.png');

		--rec-decor-visibility: none;
	}
}
